<p style="color: green"><%= notice %></p>
<div class="container text-center">
<%= render @articulo %>

<div>
  <%= link_to "Editar Articulo", edit_articulo_path(@articulo) %> |
  <%= link_to "Regresar Articulos", articulos_path %>

  <%= button_to "Eliminar Articulo", @articulo, method: :delete %>
</div>
</div>